/* Grundlæggende styling */
body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: #1a3d5d;
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  /* Hovedsektion */
  header {
    background-color: #092337;
    padding: 1em;
    text-align: center;
  }
  
  h1 {
    font-size: 2.5em;
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    color: #b2e1f5;
    text-decoration: none;
  }
  
  /* Front earth barchart-sektion */
  #front {
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, #092337, #154061);
    padding: 50px;
    color: #ffffff;
    text-align: center;
  }

  .hero {
    flex: 1;
    padding: 20px;
  }
    
  .hero h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
  }
    
  .hero p {
    font-size: 1.1em;
    line-height: 1.5;
  }
  
 /* Where do plastic end-sektion styling */
  #plastic-end {
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, #154061, #20567f);
    padding: 50px;
    color: #ffffff;
    text-align: center;
  }
  
  .plastic_e {
    flex: 1;
    padding: 20px;
  }
  
  .plastic_e h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
  }
  
  .plastic_e p {
    font-size: 1.1em;
    line-height: 1.5;
  }
  
/* -sektion styling */
#plastic-production {
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, #20567f, #337bb2);
  padding: 50px;
  color: #ffffff;
  text-align: center;
}

.plastic-p {
  flex: 1;
  padding: 20px;
}

.plastic-p h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.plastic-p p {
  font-size: 1.1em;
  line-height: 1.5;
}

  /* Comparison-sektion styling */
  #comparison {
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, #337bb2, #3b83b9);
    padding: 50px;
    color: #ffffff;
    text-align: center;
  }
  
  .plastic_c {
    flex: 1;
    padding: 20px;
  }
  
  .plastic_c h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
  }
  
  .plastic_c p {
    font-size: 1.1em;
    line-height: 1.5;
  }