/* Grundlæggende styling */
body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: #154061;
    margin: 0;
    padding: 0;
    position: relative;
}
  
/* Hovedsektion */
header {
  background-color: #092337;
  padding: 1em;
  text-align: center;
}
  
h1 {
  font-size: 2.5em;
  margin: 0;
}
  
nav ul {
  list-style-type: none;
  padding: 0;
}
  
nav ul li {
  display: inline;
  margin: 0 15px;
}
  
nav ul li a {
  color: #b2e1f5;
  text-decoration: none;
}

#button-hover-head {
  color: white; /* Hvid tekst */
}
#button-hover-head:hover {
  background-color: #1c4f77; /* Lysere blå ved hover */
  color: white; /* Hvid tekst */
  border: none; /* Ingen kant */
  padding: 10px 10px; /* Gør knapperne lidt større */
  margin: 0 5px; /* Giver lidt afstand mellem knapperne */
  border-radius: 5px; /* Runde hjørner */
  font-size: 16px; /* Læsevenlig tekst */
  cursor: pointer; /* Ændrer musen til en pointer ved hover */
}

/* Knapcontainer til world map */
#button-container {
  position: relative; /* Sørger for, at vi kan justere placeringen med top */
  text-align: center; /* Centrerer knapperne over kortet */
  margin-bottom: 10px; /* Afstand mellem knapper og kort */
  top: 70px; /* Flytter knapperne længere ned under stregen */
}
/* Knapper til world map*/
#button-container button {
  background-color: #20567f; /* Blå baggrund */
  color: white; /* Hvid tekst */
  border: none; /* Ingen kant */
  padding: 10px 20px; /* Gør knapperne lidt større */
  margin: 0 5px; /* Giver lidt afstand mellem knapperne */
  border-radius: 5px; /* Runde hjørner */
  font-size: 16px; /* Læsevenlig tekst */
  cursor: pointer; /* Ændrer musen til en pointer ved hover */
}
#button-container button:hover {
  background-color: #337bb2; /* Lysere blå ved hover */
}

/* Placering af kortsektionen */
#world-map {
  position: relative; /* Gør det muligt at placere infoboksen absolut i forhold til sektionen */
  width: 100%; /* Kortsektionen fylder hele bredden */
  height: auto;
  text-align: center;
  background: linear-gradient(to bottom, #092337, #154061); /* Baggrundsfarve der matcher designet */
}

/* Kortcontainer */
#map-container {
  margin: 0 auto; /* Centrer kortet */
  width: 95%; /* Gør bredden responsiv */
  max-width: 1600px; /* Begræns bredden */
  padding: 20px; /* Afstand indeni */
  border: 2px solid #ffffff; /* Kant */
  border-radius: 10px; /* Runde hjørner */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Skygge */
  box-sizing: border-box; /* Korrekt padding */
  background: linear-gradient(to bottom, #092337, #154061);
}

/* Infoboks til world map */
#infoBoksMap {
  position: absolute; /* Gør det muligt at placere infoboksen frit */
  top: 5%; /* Placer infoboksen 0px fra toppen af sektionen */
  left: 3.5%; /* Placer infoboksen 90px fra venstre side */
}
/* Farvebokse i inforboksen */
#infoBoksMap rect {
  width: 20px;
  height: 20px;
  stroke: black; /* Sort kant omkring bokse */
  stroke-width: 1px;
}
/* Tekst i infoboksen */
#infoBoksMap text {
  font-size: 14px;
  font-family: Arial, sans-serif;
  fill: #ffffff; /* Hvid tekstfarve */
}

/* Hover med musen over kortet */
.tooltipmap {
  font-size: 14px;
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  pointer-events: none;
  z-index: 1000;
}

/* Hvor hurtigt de andre lande skal dimme ud */
path {
  transition: fill 0.2s, opacity 0.2s;
}
/* Lande der bliver dæmpet */
.dim {
  opacity: 0.5;
}
/* Land der bliver fremhævet */
.highlight {
  opacity: 2;
}

 /* Where do plastic end-sektion styling */
  #plastic-end {
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, #154061, #20567f);
    padding: 50px;
    color: #ffffff;
    text-align: center;
  }
  
  .plastic_e {
    flex: 1;
    padding: 20px;
  }
  
  .plastic_e h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
  }
  
  .plastic_e p {
    font-size: 1.1em;
    line-height: 1.5;
  }
  
/* -sektion styling */
#plastic-production {
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, #20567f, #337bb2);
  padding: 50px;
  color: #ffffff;
  text-align: center;
}

.plastic-p {
  flex: 1;
  padding: 20px;
}

.plastic-p h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.plastic-p p {
  font-size: 1.1em;
  line-height: 1.5;
}

  /* Comparison-sektion styling */
  #comparison {
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, #337bb2, #3b83b9);
    padding: 50px;
    color: #ffffff;
    text-align: center;
  }
  
  .plastic_c {
    flex: 1;
    padding: 20px;
  }
  
  .plastic_c h {
    font-size: 1.8em;
    margin-bottom: 10px;
  }
  
  .plastic_c p {
    font-size: 1.1em;
    line-height: 1.5;
  }