/* Grundlæggende styling */
body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: #092337;
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  /* Hovedsektion */
  header {
    background-color: #092337;
    padding: 1em;
    text-align: center;
  }
  
  h1 {
    font-size: 2.5em;
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    color: #b2e1f5;
    text-decoration: none;
  }

/* Overordnet styling for world-map sektionen */
#world-map {
  width: 100%; /* Sektionen fylder hele skærmens bredde */
  text-align: center; /* Centrer indholdet */
  margin: 0 auto; /* Sørger for, at hele sektionen er centreret */
  background: linear-gradient(to bottom, #092337, #154061);
}

/* Styling af overskriften */
.map-header {
  margin: 0 auto; /* Centrer sektionen */
  margin-bottom: 30px; /* Afstand mellem tekst og kort */
  color: #ffffff; /* Tekstfarve */
  width: 95%; /* Matcher bredden på kortcontaineren */
  max-width: 1600px; /* Holder teksten i samme bredde som kortet */
}

/* Styling af overskriften */
.map-header h2 {
  font-size: 2em; /* Behold størrelsen */
  margin: 20px 0 10px 0; /* Tilføj 20px top-margin for ekstra mellemrum */
  text-align: center; /* Centrer teksten */
}

/* Kortcontainer */
#map-container {
  margin: 0 auto; /* Centrer kortet */
  width: 95%; /* Gør bredden responsiv */
  max-width: 1600px; /* Begræns bredden */
  padding: 5px 20px 20px; /* Mindsk top-padding til 5px */
  border: 2px solid #ffffff; /* Kant */
  border-radius: 20px; /* Runde hjørner */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Skygge */
  box-sizing: border-box; /* Korrekt padding */
}

svg {
  display: block;
  margin: 0; /* Fjern unødvendig margin */
  padding: 0; /* Fjern unødvendig padding */
}

  /* Front earth barchart-sektion */
  #front {
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, #092337, #154061);
    padding: 50px;
    color: #ffffff;
    text-align: center;
  }

  .hero {
    flex: 1;
    padding: 20px;
    }
    
    .hero h2 {
      font-size: 1.8em;
      margin-bottom: 10px;
    }
    
    .hero p {
      font-size: 1.1em;
      line-height: 1.5;
    }

 /* Where do plastic end-sektion styling */
  #plastic-end {
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, #154061, #20567f);
    padding: 50px;
    color: #ffffff;
    text-align: center;
  }
  
  .plastic_e {
    flex: 1;
    padding: 20px;
  }
  
  .plastic_e h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
  }
  
  .plastic_e p {
    font-size: 1.1em;
    line-height: 1.5;
  }
  
/* -sektion styling */
#plastic-production {
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, #20567f, #337bb2);
  padding: 50px;
  color: #ffffff;
  text-align: center;
}

.plastic-p {
  flex: 1;
  padding: 20px;
}

.plastic-p h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.plastic-p p {
  font-size: 1.1em;
  line-height: 1.5;
}

  /* Comparison-sektion styling */
  #comparison {
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, #337bb2, #3b83b9);
    padding: 50px;
    color: #ffffff;
    text-align: center;
  }
  
  .plastic_c {
    flex: 1;
    padding: 20px;
  }
  
  .plastic_c h {
    font-size: 1.8em;
    margin-bottom: 10px;
  }
  
  .plastic_c p {
    font-size: 1.1em;
    line-height: 1.5;
  }